<!-- GET THE BASE TEMPLATE-->
{{template "base" .}}

<!-- DEFINE THE CONTAINER DATA -->
{{define "container"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Welcome to the about page...updated</h1>
                {{.StringMap.Test}}
                {{.Data.remote_ip}}
            </div>
        </div>
    </div>
{{end}}